ul {
    list-style-type: none;
    display: flex;
    margin: 8px;
    padding: 8px 8px 8px 600px;
    overflow: hidden;
    font-family: "MesloLGS NF", sans-serif;
}

a:link,a:visited {
    display: block;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    width: 100px;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
}

a:hover,a:active {
    background-color: #666666;
}

li {
    float: left;
}
